Most Deadly Events

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import calendar
from matplotlib.pyplot import subplots, show
%matplotlib inline

In [2]:
weatherdata = pd.read_csv('detail_trim2.csv', encoding = "ISO-8859-1")

In [3]:
weatherdata.head()

,BEGIN_DATE_TIME,END_DATE_TIME,YEAR,MONTH_NAME,BEGIN_DAY,BEGIN_TIME,EPISODE_ID,EVENT_ID,STATE,CZ_TYPE,...,EVENT_REDUCED,CZ_TIMEZONE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,BEGIN_LAT,BEGIN_LON
0,28-APR-50 14:45:00,28-APR-50 14:45:00,1950,April,28,1445,NaN,10096222,OKLAHOMA,C,...,Tornado,CST,0,0,0,0,250000.0,NaN,35.12,-99.20
1,29-APR-50 15:30:00,29-APR-50 15:30:00,1950,April,29,1530,NaN,10120412,TEXAS,C,...,Tornado,CST,0,0,0,0,25000.0,NaN,31.90,-98.60
2,05-JUL-50 18:00:00,05-JUL-50 18:00:00,1950,July,5,1800,NaN,10104927,PENNSYLVANIA,C,...,Tornado,CST,2,0,0,0,25000.0,NaN,40.58,-75.70
3,05-JUL-50 18:30:00,05-JUL-50 18:30:00,1950,July,5,1830,NaN,10104928,PENNSYLVANIA,C,...,Tornado,CST,0,0,0,0,2500.0,NaN,40.60,-76.75
4,24-JUL-50 14:40:00,24-JUL-50 14:40:00,1950,July,24,1440,NaN,10104929,PENNSYLVANIA,C,...,Tornado,CST,0,0,0,0,2500.0,NaN,41.63,-79.68

In [4]:
print(weatherdata.columns)

Index(['BEGIN_DATE_TIME', 'END_DATE_TIME', 'YEAR', 'MONTH_NAME', 'BEGIN_DAY',
       'BEGIN_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'CZ_TYPE',
       'EVENT_TYPE', 'EVENT_REDUCED', 'CZ_TIMEZONE', 'INJURIES_DIRECT',
       'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
       'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'BEGIN_LAT', 'BEGIN_LON'],
      dtype='object')